@import "../../global.scss";

.projects {
    // background-color: $background;
    // display: flex;
    // align-items: center;
    // justify-content: center;

}

.swiper-container {
    z-index: 3;
}

.swiper-wrapper {
    overflow: visible;

    list-style: none;
}