@import '../../global.scss';

.education{
    display: flex;
    flex-direction: column;
    align-items: center;

    .header{
        align-self: center;
        text-align: center;
        overflow: hidden;
        max-height: 22vh;
        overflow: hidden;

        h1{
            font-size: $headerSize;
            margin-bottom: 10px;
        overflow: hidden;


            @include mobile{
                font-size: 20px;
            }
        }

        .description{
            overflow: hidden;
            color: $tertiaryColor;
            font-family: 'Roboto Mono', monospace;
            font-weight: 300;
            font-size: $contentSize;
            padding-bottom: 50px;
            span{
                font-family: inherit;
            }

            a{
                font-family: inherit;
                color: inherit;
                text-decoration: inherit;
            }

            h2{
                color: $secondColor;
                font-family: inherit;
                display: inline;
                font-size: $contentSize;
                font-weight: 500;
                font-style: bold;
            }
        }
    }

    

    ul{
        max-height: 10vh;
        margin: 10px;
        padding:0;
        list-style: none;
        display: flex;
        width: 75%;
        flex-wrap: wrap;
        margin-left: 10%;
        overflow: hidden;
    }

}