@import "../../global.scss";
.modules{
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
        // width: 70%;
        // display: flex;

        // align-items: center;
        // justify-content: center;
        // flex-wrap: wrap;

        display: grid;

        justify-items: center;
    
        @include mobile{
            width: 100%;
        }
    
        .item{
           width: 220px;
           height: 150px;
           border-radius:  20px;
           border: 1px solid $outline; 
           margin: 10px;
           display: flex;
           grid-row: span 1;
           grid-column: span 1; 
           
           align-items: center;
           justify-content: center;
           color: $mainColor;
           position: relative;
           transition: all .5s ease;
           cursor: pointer;
           overflow: hidden;
           background-color: $moduleHighlight;
    
        //    @include mobile{
        //     margin: 10px 10px;
        //     width: 130px;
        //     height: 100px;
        // }
    
           h3{
               position: absolute;
               font-size: $contentLargeSize;
               text-align: center;
               padding: 2px;
           }
    
           h4{
               font-size: $contentLargeSize;
               position: absolute;
               z-index: 10;
               color: $mainColor;
               bottom: 0;
               background-color: $outline;
               width: 100%;
               text-align: center;
               opacity: 100;
           }
    
           img{
               transition: all .7s ease;
               width: 100%;
               height: 100%;
               object-fit: cover;
               overflow: hidden;
               opacity: 0.2;
               z-index: 0;
               filter: grayscale(100);
           }

           &:hover{
    
               img{
                   opacity: 100;
                   z-index: 10;
                   filter: grayscale(0);
               }

               h3{
                    // @include mobile{
                    //     font-size: 14px;
                    // }
               }
           }
        }
    }

    .pagination{
        margin: 0 auto;
        display:inline-block;
        overflow: hidden;
    }
}
