@import "../../global.scss";
.skills{
    scrollbar-width: none; //for firefox
        &::-webkit-scrollbar{
            display: none;
        }
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        font-size: $headerSize;

        @include mobile{
            font-size: 20px;
        }
    }

    .subtitle{
        font-weight: 300;

        .btn{
            margin: 10px 20px;
        }
    }
}

.panel_collection{
    background-color: $primarySelect;
    width: 270px;
    padding: 7px;
    border-radius: 15px;
    overflow: hidden;
    margin: 10px;
    
    .collection_header{
        display: flex;
        justify-content: space-between;
        h2{
            font-size: 19px;
            font-weight: 300;
            display: flex;
        }
        .expand_btn{
            cursor: pointer;
        }
    }

    .panels{
        transition: 1s ease;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .panel{
            h4{
                visibility: hidden;
            }
        }

        &.active{
            max-height: 1000px;

            .panel{
                h4{
                    visibility: visible;
                }
            }
        }
    }
}

.panel{
    background-color: #333;
    flex-direction: row;
    justify-content: center;
    height: 30px;
    width: 85%;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 4px solid "white";
    margin: 5px;
    overflow: hidden;

    .panel_text{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;

        h4{
            font-weight: 300;
        }

        h3{
            font-weight: 500;
            font-size: 15px;
        }
    }
    
}

.skill_stat{
    margin: 10px 20px;
    // max-height: calc(100vh - 100px);
    // display: flex;
    // flex-flow: row wrap;
    // flex-flow: column wrap;
    // align-items: center;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(290px, 1fr));

    justify-items: center;
    // justify-content: space-around;
}