@import "../../global.scss";

.educationList{
    font-size: $contentSize;
    margin-right: 50px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    color: $mainColor;
    z-index: 10;

    @include mobile{
        margin-right: 20px;
    }

    &.active{
        background-color: $mainColor;
        color: $background;
    }
}