.background{
    position: fixed;
    left: -70vw;
    bottom: 10vh;

    .gridBackground{
        position: fixed;
        z-index: 1;

        img{
            height: 120vh;
            width: 270vw;
        }
    }

    .logosBackground{
        position: fixed;
        z-index: 2;
        opacity: 15%;

        img{
            height: 120vh;
            width: 270vw;
        }
    }
}